@import "bootstrap/bootstrap";
@import "custom_mixins";

/* Globals */
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

a { text-decoration: none !important; }

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  background: url('http://subtlepatterns.com/patterns/low_contrast_linen.png');
  padding-top: 40px;
}

.hidden { display: none; }

/* App */

h1#center-title {
  font-size: 48px;
  line-height: 56px;
  text-align: center;
}


#finder {
  background: url('../images/finder.png');
  position: relative;
  width: 1200px;
  height: 768px;
  padding: 60px 121px 60px 119px;
  margin: 50px 0 0 -120px;
  opacity: 0;
  @include transition(display 0.5s linear);
  &.show { margin-top: 0; }
}

#finder-header {
  width: 100%;
  height: 55px;
}

#finder-sidebar {
  float: left;
  width: 136px;
  color: #333;
  ul {
    padding: 10px 0;
    margin: 0;
    li {
      padding: 4px 16px;
      border-top: solid 1px transparent;
      border-bottom: solid 1px transparent;
    }
    i {
      margin: 1px 5px 0 0;
    }
    a {
      color: inherit;
      text-shadow: 0 1px 1px rgba(255,255,255,1.0);
      font-weight: bold;
      &:hover, &.selected {
        color: white;
        text-shadow: 0 1px 1px rgba(0,0,0,0.5);
        li {
          @include gradient-vertical(#69b0e5, #3a8ad3);
          border-top-color: #5ca4df;
          border-bottom-color: #327ac2;
        }
      }
    }
  }
}

#finder-main {
  float: left;
  width: 824px;
  height: 545px;
  @include transition(background 0.1s linear);

  &.active {
    background: #deebff;
    .no-files { border-color: #333; }
  }

  #delete-all {
    display: none;
    float: left;
    padding: 10px;
    position: absolute;
    width: 824px;
    border-bottom: solid 1px #BBB;
    @include gradient-vertical(#EEE, #DDD);
    a {
      margin-right: 10px;
      float: right;
      font-weight: bold;
      color: darken(red, 30%);
      text-shadow: 0 1px 1px white;
      &:hover { color: #000; }
    }
  }

  .no-files {
    height: 85%;
    margin: 5%;
    padding: 50px 0;
    text-align: center;
    font-size: 24px;
    line-height: 32px;
    border: dashed 4px #CCC;
    @include border-radius(10px);
  }

  #header {
    padding: 10px;
    margin-bottom: 10px;
    font-size: 32px;
    line-height: 40px;
    text-shadow: 0 1px 1px white;
    border-bottom: solid 1px #BBB;
    @include gradient-vertical(#EEE, #DDD);
  }

  ul#providers {
    padding: 10px;
    float: left;
    font-size: 20px;
    line-height: 24px;
    width: 100%;
    li {
      float: left;
      margin-bottom: 10px;
      padding: 10px;
      width: 261px;
      margin-right: 10px;
      background: #CCC;
      color: #666;
      text-shadow: 0 1px 1px white;
      @include transition(all 0.1s linear);
      @include border-radius(5px);
      @include box-shadow(inset 0 3px 8px rgba(0,0,0,0.2));
      &#box { margin-right: 0; }
      &.active {
        background: #555;
        color: white;
        text-shadow: none;
        @include box-shadow(inset 0 3px 8px rgba(0,0,0,0.5));
      }
      h1 {
        text-align: center;
        margin-bottom: 10px;
      }
      img {
        float: left;
        margin: 10px;
        width: 32px;
        @include opacity(80);
      }
      p {
        float: left;
        margin: 16px 10px;
        width: 168px;
        line-height: 25px;
      }
    }
    a:hover li {
      background: #BBB;
      color: #444;
    }
  }
}

.file-list {
  padding: 10px;
  padding-top: 50px;
  float: left;
  width: 100%;
  height: 100%;
}

#progress {
  display: none;
  @include border-radius(0);
  .bar { width: 0%; }
}

.file {
  display: block;
  float: left;
  width: 180px;
  padding: 5px;
  margin: 0 5px 5px 0;
  cursor: pointer;
  color: inherit;
  border: solid 1px transparent;
  @include border-radius(3px);
  @include transition(all 0.1s linear);
  &:hover {
    background: #EEE;
  }
  &:active, &.selected {
    background: #427fd1;
    color: white;
    border-color: darken(#427fd1, 20%);
    .delete { color: white; }
  }
  .icon {
    float: left;
  }
  .filename, .modified {
    float: left;
    width: 120px;
    @include text-overflow;
  }
  .filename {
    margin-top: -8px;
  }
  .delete {
    position: relative;
    float: right;
    margin-top: -3px;
    color: #999;
    font-size: 16px;
    font-weight: bold;
    &:hover {
      color: #333;
    }
  }
}


#sign-in-label {
  float: left;
  width: 100%;
  padding: 10px;
  color: #333;
  text-align: center;
}

ul#sign-in-links {
  float: right;
  width: 100%;
  li {
    float: left;
    padding: 20px;
    // text-align: center;
    border-bottom: solid 1px #DDD;
    width: 100%;
    font-size: 42px;
    line-height: 56px;
    padding: 20px;
    img {
      width: 48px;
      margin-right: 16px;
      margin-top: -4px;
    }
    a {
      @include transition(color 0.1s linear);
    }
  }
}
