<script type="text/x-underscore-template" id="tmpl-account">

  <div id="header">
    <%= name %>
  </div>

  <ul id="providers">

    <% _.each(providers, function (provider, slug) { %>
      <% if (provider.active) { %>
        <li id="<%= slug %>" class="active">
          <h1><%= provider.name %></h1>
          <img src="static/images/<%= slug %>.png" />
          <p>
            Successfully linked. <br/>
            <%= used %>% used
          </p>
        </li>
      <% } else { %>
        <a href="<%= provider.url %>">
          <li id="<%= slug %>">
            <h1><%= provider.name %></h1>
            <img src="static/images/warning.png" />
            <p>Add more clouds!</p>
          </li>
        </a>
      <% } %>
    <% }) %>

  </ul>

</script>