<script type="text/x-underscore-template" id="tmpl-finder">

  <div id="finder-header"></div>

  <div id="finder-sidebar">
    <ul id="nav">
      <a href="/" class="selected">
        <li><i class="icon-folder-open"></i>Files</li>
      </a>
      <a href="/account">
        <li><i class="icon-user"></i>Account</li>
      </a>
      <a href="/logout">
        <li><i class="icon-remove"></i>Log out</li>
      </a>
    <ul>
  </div>

  <div id="finder-main">

  </div>

</script>


<script type="text/x-underscore-template" id="tmpl-file">

  <a href="#" class="delete">&times;</a>
  <img class="icon" src="static/images/file.png" />
  <div class="filename"><%= name %></div>
  <div class="modified"><%= lastModifiedDate %></div>

</script>


<script type="text/x-underscore-template" id="tmpl-file-list">

  <div id="delete-all"><a href="#">Delete selected</a></div>

  <div class="progress progress-striped active" id="progress">
    <div class="bar"></div>
  </div>

  <div class="no-files">
    Drag files here to get started!
  </div>

  <div class="file-list"></div>

</script>