<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Raidcloud</title>
    <meta charset="utf-8" />
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
    <link href="assets/favicon.png" rel="shortcut icon" />

    <link href="stylesheets/app.css" rel="stylesheet" />
    <script data-main="scripts/app" src="scripts/require-jquery.js"></script>
  </head>
  <body>
    <div class="container" id="main">

    </div>
  </body>

  {% include 'static/templates/_main.html' %}

</html>