{% extends 'app.html' %}

{% block scripts %}
<script data-main="static/scripts/login" src="static/scripts/require-jquery.js"></script>
{% endblock %}

{% block content %}

  <div id="finder-header"></div>

  <div id="finder-sidebar">
    <ul id="nav">
      <a href="/login" class="selected">
        <li><i class="icon-thumbs-up"></i>Log in</li>
      </a>
    <ul>
  </div>

  <div id="finder-main">
    <ul id="sign-in-links">
      <li>
        <a href="/dropbox"><img src="static/images/dropbox.png" />Dropbox</a>
      </li>
      <li>
        <a href="/google"><img src="static/images/drive.png" />Google</a>
      </li>
      <li>
        <a href="/box"><img src="static/images/box.png" />Box.net</a>
      </li>
      <li>
        <a href="/sugarsync"><img src="static/images/sugarsync.png" />Sugarsync</a>
      </li>
    </ul>
  </div>

{% endblock %}